<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MainFolderPath" value="H:\SQLSchemaSourceControl\DatabaseSchemas" />
    <add key="RunStepsPath" value="C:\SQLSchemaSourceControl\RunSteps.xml" />
    <add key="SVNAuthentication" value="true" />
    <add key="SVNUserName" value="dbschema" />
    <add key="SVNPassword" value="pw" />
    <add key="EmailOnError" value="true" />
    <add key="EmailServer" value="" />
    <add key="EmailFrom" value="" />
    <add key="EmailTo" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>